<div id="<%= dom_id document %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= document.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= document.content %>
  </div>
</div>
